<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/wwwroot/css/site.min.css")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body class="size-1140">
    <!-- TOP NAV WITH LOGO -->
    <header>
        <div id="topbar">
            <div class="line">
                <div class="s-12 m-6 l-6">
                    <p>CONTACT US: <strong>0800 200 200</strong> | <strong>contact@sampledomain.com</strong></p>
                </div>
                <div class="s-12 m-6 l-6">
                    <div class="social right">
                        <a><i class="icon-facebook_circle"></i></a> <a><i class="icon-twitter_circle"></i></a> <a><i class="icon-google_plus_circle"></i></a> <a><i class="icon-instagram_circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="line">
                <div class="s-12 l-2">
                    <p class="logo"><strong>Invoice</strong>Reminder</p>
                </div>
                <div class="top-nav s-12 l-10">
                    <p class="nav-text">Custom menu text</p>
                    <ul class="right">
                        <li class="active-item"><a href="#carousel">Home</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#our-work">Our Work</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <!-- CONTENT-->
        @RenderBody()
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="line">
            <div class="s-12 l-6">
                <p>Copyright 2016, Invoice Reminder</p>
            </div>
            <div class="s-12 l-6">
                <a class="right" href="#" title="Coding by Softech">Coding<br> by Softech</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="@Url.Content("~/wwwroot/js/site.min.js")"></script>
</body>
</html>